{% extends "menu.html" %}
{% block title %}Конфигуратор{% endblock %}
{% block content %}
<script type="text/javascript">

function loading() {
    document.getElementById("loader_div").style.display = "block";
    document.getElementById("content_div").style.display = "none";
}
    
</script>
<div id="loader_div" class="loader"></div> 
<div id="content_div">
    <br>
    <form action="configurator">
      <button id="Generic140pxBlueButton" type="submit">Назад</button>
    </form>
    <br>
    <br>
    <div>
      <img src="{{ diagram_link }}" width="95%">
    </div>
    <br>
    <div>
    <h2>Configurations:</h2>
    {% for host in config_dict %}
    <details class="configurator_config_details"><summary><b>{{ host }}</b></summary>
      {% if config_dict[host].global %}
        <p class="configurator_config_p">
          {% for line in config_dict[host].global %}
            {{ line }}<br>
          {% endfor %}
        </p><br>
      {% endif %}
      {% if config_dict[host].config %}
        <p class="configurator_config_p">
        conf t<br>
          {% for line in config_dict[host].config %}
            &emsp;{{ line }}<br>
          {% endfor %}
        </p><br>
      {% endif %}
      {% if config_dict[host].ifaces %}
        <p class="configurator_config_p">
          {% for iface in config_dict[host].ifaces %}
            &emsp;int {{ iface }}<br>
              {% for line in config_dict[host]["ifaces"][iface] %}
                &emsp;&emsp;{{ line }}<br>
              {% endfor %}
          {% endfor %}
        </p><br>
      {% endif %}

    </details>
    {% endfor %}
    </div>
    <br>
    <div>
    {% if rawdata %}
    <details><summary><b>Давайте заглянем под капот!</b></summary>
    {% for data in rawdata %}
    <h3>{{ data|safe }}</h3>
    <br><hr><br><br>
    {% endfor %}
    </details>
    {% endif %}
    </div>
</div>
{% endblock %}