{% extends "menu.html" %}
{% block title %}Конфигуратор{% endblock %}
{% block content %}
<script src="js/jquery.min.js"></script>
<script type="text/javascript">

$(document).ready(function() {
    var max_fields = 10;
    var wrapper = $(".container1");
    var add_button = $(".add_form_field");

    var x = 1;
    $(add_button).click(function(e) {
        e.preventDefault();
        if (x < max_fields) {
            x++;
            $(wrapper).append('<div><input type="text" name="hostname1_fld[]" autocomplete="off" placeholder="Hostname" list="hn_list" required/><a href="#" class="delete">Delete</a></div>'); //add input box
        } else {
            alert('You Reached the limits')
        }
    });

    $(wrapper).on("click", ".delete", function(e) {
        e.preventDefault();
        $(this).parent('div').remove();
        x--;
    })
});
    
function inet_create() {
  document.getElementById("inet_form").style.display = "block";
  document.getElementById("vlan_form").style.display = "none";
  document.getElementById("active_list").style.display = "none";
  document.getElementById("config_form").style.display = "none";
  document.getElementById("error_message").style.display = "none";
}
function vlan_create() {
  document.getElementById("inet_form").style.display = "none";
  document.getElementById("vlan_form").style.display = "block";
  document.getElementById("active_list").style.display = "none";
  document.getElementById("config_form").style.display = "none";
  document.getElementById("error_message").style.display = "none";
}
function active_show() {
  document.getElementById("inet_form").style.display = "none";
  document.getElementById("vlan_form").style.display = "none";
  document.getElementById("active_list").style.display = "block";
  document.getElementById("config_form").style.display = "none";
  document.getElementById("error_message").style.display = "none";
}
function config_show() {
  document.getElementById("inet_form").style.display = "none";
  document.getElementById("vlan_form").style.display = "none";
  document.getElementById("active_list").style.display = "none";
  document.getElementById("config_form").style.display = "block";
  document.getElementById("error_message").style.display = "none";
}
    
function loading() {
    document.getElementById("loader_div").style.display = "block";
    document.getElementById("content_div").style.display = "none";
}
</script>
<div id="loader_div" class="loader"></div> 
<div id="content_div">
    <br>
    <div class="NotifierButtonsGroup">
        <input id="scale0" class="RadioButtons" name="RadioButtons" type="radio" value="0">
        <label for="scale0" class="NotifierButtons" onclick="inet_create()">Инет</label>
        <input id="scale1" class="RadioButtons" name="RadioButtons" type="radio" value="0">
        <label for="scale1" class="NotifierButtons" onclick="vlan_create()">Влан</label>
        <input id="scale2" class="RadioButtons" name="RadioButtons" type="radio" value="0">
        <label for="scale2" class="NotifierButtons" onclick="active_show()">Активные</label>
        <input id="scale3" class="RadioButtons" name="RadioButtons" type="radio" value="0">
        <label for="scale3" class="NotifierButtons" onclick="config_show()">Конфиг</label>
    </div>
    <br>
    <br>
    {% if msg %}
    <div id="error_message" class="alarm">
    <h3>{{ msg|safe }}</h3>
    </div>
    {% endif %}
    
    <!-- INET FORM -->
    <div id="inet_form" style="display:none">
        <form id="inet_create_form" 
              action="configurator_inet_create" 
              method="POST">
        <table>
        <tr>
        <td>
        <label class="configurator_label" 
               for="hostname_fld">Hostname:</label>
        </td>
        <td>
        <input type="text" 
            class="configurator_form" 
            id="hostname_fld" 
            name="hostname_fld"
            autocomplete="off"            
            placeholder="Hostname" 
            list="hn_list" required>
        <datalist id = "hn_list">
            {% for host in hostname_list %}
			<option value = "{{ host }}" label = "{{ host }}">
			{% endfor %}
		</datalist>
        <br>
        </td>
        </tr>
        <tr>
        <td>
        <label class="configurator_label"
               for="contract_fld">Договор:</label>
        </td>
        <td>
        <input type="text" 
               class="configurator_form" 
               id="contract_fld" 
               name="contract_fld" 
               autocomplete="off" 
               placeholder="Contract" required><br>
        </td>
        </tr>
        <tr>
        <td>
        <label class="configurator_label"
               for="rate_fld">Тариф (мегабиты):</label>
        </td>
        <td>
        <input type="number" 
               class="configurator_form" 
               id="rate_fld" 
               name="rate_fld" 
               min="1" 
               max="10000" required><br>
        </td>
        </tr>
        <tr>
        <td>
        <label class="configurator_label"
               for="name_fld">Организация:</label>
        </td><td>
        <input type="text" 
               class="configurator_form" 
               id="name_fld" 
               name="name_fld" 
               autocomplete="off" 
               placeholder="Название организации" required><br>
        </td>
        </tr>
        <tr>
        <td>
        <label class="configurator_label"
               for="latname_fld">Организация (лат):</label>
        </td><td>
        <input type="text" 
               class="configurator_form" 
               id="latname_fld" 
               name="latname_fld" 
               autocomplete="off" 
               placeholder="Nazvanie organizacii"
               maxlength="16" 
               oninvalid="this.setCustomValidity('Латиница only')"
               onchange="try{setCustomValidity('')}catch(e){}"
               oninput="setCustomValidity(' ')"
               pattern = "^[A-Za-z0-9]{1,16}$" 
               required><br>
        </td>
        </tr>
        <tr>
        <td>
        <label class="configurator_label"
               for="addr_fld">Адрес:</label>
        </td><td>
        <input type="text" 
               class="configurator_form" 
               id="addr_fld" 
               name="addr_fld" 
               autocomplete="off" 
               placeholder="Address" required><br>
        </td>
        </tr>
        <tr>
        <td>
        <label class="configurator_label"
               for="amountip_fld">Кол-во адресов:</label>
        </td>
        <td>
        <input type="number" 
               class="configurator_form" 
               id="amountip_fld" 
               name="amountip_fld" 
               min="1" 
               max="253" 
               value="1" required><br>
        </td>
        </tr>
        </table>
        <input id="inet_create_btn" 
               type="submit" 
               name="inet_create" 
               value="Поехали">
        </form>
    </div>
    
    <!-- VLAN FORM -->
    <div id="vlan_form" style="display:none">
        <form action="configurator_vlan_create" method="POST">
        <table>
        <tr>
        <td>
        <label class="configurator_label"
               for="hostname1_fld">Hostnames:</label>
        </td>
        <td>
        <div class="container1">
        <input type="text" 
            class="configurator_form" 
            id="hostname1_fld" 
            name="hostname1_fld[]"
            autocomplete="off"            
            placeholder="Hostname1" 
            list="hn_list" required>
        <datalist id = "hn_list">
            {% for host in hostname_list %}
			<option value = "{{ host }}" label = "{{ host }}">
			{% endfor %}
		</datalist>
        <button class="add_form_field">Add &nbsp; 
        <span style="font-size:16px; font-weight:bold;">+ </span>
        </button>
        <br>
        </div>
        </td>
<!--         </tr>
        <tr>
        <td>
        <label class="configurator_label"
               for="hostname2_fld">Hostname2:</label>
        </td>
        <td>
        <input type="text" 
            class="configurator_form" 
            id="hostname2_fld" 
            name="hostname2_fld"
            autocomplete="off"            
            placeholder="Hostname2" 
            list="hn_list" required><br>
        <datalist id = "hn_list">
            {% for host in hostname_list %}
			<option value = "{{ host }}" label = "{{ host }}">
			{% endfor %}
		</datalist>	
        </td>
        </tr> -->
        <tr>
        <td>
        <label class="configurator_label"
               for="vlan_tag_fld">Влан (тэг):</label>
        </td>
        <td>
        <input type="number" 
               class="configurator_form" 
               id="vlan_tag_fld" 
               name="vlan_tag_fld" 
               min="2" 
               max="4095" required><br>
        </td>
        </tr>
        <tr>
        <td>
        <label class="configurator_label"
               for="vlan_rate_fld">Тариф (мегабиты):</label>
        </td>
        <td>
        <input type="number" 
               class="configurator_form" 
               id="vlan_rate_fld" 
               name="vlan_rate_fld" 
               min="1" 
               max="10000" required><br>
        </td>
        </tr>
        <tr>
        <td>
        <label class="configurator_label"
               for="vlan_latname_fld">Организация (лат):</label>
        </td><td>
        <input type="text" 
               class="configurator_form" 
               id="vlan_latname_fld" 
               name="vlan_latname_fld" 
               autocomplete="off" 
               placeholder="Nazvanie organizacii"
               maxlength="16" 
               oninvalid="this.setCustomValidity('Латиница only')"
               onchange="try{setCustomValidity('')}catch(e){}"
               oninput="setCustomValidity(' ')"
               pattern = "^[A-Za-z0-9]{1,16}$" 
               required><br>
        </td>
        </tr>
        <tr>
        <td>
        <label class="configurator_label"
               for="mtu_fld">MTU:</label>
        </td>
        <td>
        <input type="number" 
               class="configurator_form" 
               id="mtu_fld" 
               name="mtu_fld" 
               min="1500" 
               step="100"
               max="9216" 
               value="1500" required><br>
        </td>
        </tr>
        </table>
        <input id="vlan_create_btn" 
               type="submit" 
               name="vlan_create" 
               value="Поехали">
        </form>
    </div>
    <div id="active_list" style="display:none">
        <br>
        <br>
    <h1>Under construction</h1>
    </div>
    <div id="config_form" style="display:none">
        <br>
        <br>
    <h1>Under construction</h1>
    </div>
</div>
{% endblock %}