{% extends "menu.html" %}
{% block title %}Конфигуратор{% endblock %}
{% block content %}
<script src="js/jquery.min.js"></script>
<script type="text/javascript">

function loading() {
    document.getElementById("loader_div").style.display = "block";
    document.getElementById("content_div").style.display = "none";
}

</script>
{% for dev in ifaces_dict %}
<script type="text/javascript">
$(document).ready(function() {
    var max_fields = {{ifaces_dict[dev]|length-1}};
    var wrapper = $(".container{{ dev }}");
    var add_button = $(".add_form_field{{ dev }}");

    var x = 1;
    $(add_button).click(function(e) {
        e.preventDefault();
        if (x < max_fields) {
            x++;
            $(wrapper).append('<div><select class="select-css" id="configurator_iface_fld_{{ dev }}"name="configurator_iface_{{ dev }}[]">{% for iface in ifaces_dict[dev] %}<option value="{{ iface }}">{{ iface }}: {{ ifaces_dict[dev][iface] }}</option>{% endfor %}</select><select class="select-css" id="configurator_iftype_fld" name="configurator_iftype_{{ dev }}[]"><option value="None">--None--</option><option value="Access">Access</option><option value="Trunk">Trunk</option></select><a href="#" class="delete" style="padding-left:14px">❌</a></div>');
        } else {
            alert('Макс портов')
        }
    });

    $(wrapper).on("click", ".delete", function(e) {
        e.preventDefault();
        $(this).parent('div').remove();
        x--;
    })
});
</script>
{% endfor %}


<div id="loader_div" class="loader"></div> 
<div id="content_div">
    <br>
    <form action="configurator">
      <button id="Generic140pxBlueButton" type="submit">Назад</button>
    </form>
    <br>
    <br>
    <form id="configurator_ifaces_form" 
      action="configurator_vlan_confirm_{{ sid }}" 
      method="POST">
    <table>
    {% for dev in ifaces_dict %} 
    <tr>
        <td>
        <label class="configurator_label"
               for="configurator_iface_fld_{{ dev }}">{{ dev }}</label>
        </td>
        <td>
        <div class="container{{dev}}">
        <select class="select-css"
                id="configurator_iface_fld_{{ dev }}" 
                name="configurator_iface_{{ dev }}[]">
          {% for iface in ifaces_dict[dev] %}
          <option value="{{ iface }}">{{ iface }}: {{ ifaces_dict[dev][iface] }}</option>
          {% endfor %}
        </select><select class="select-css"
                id="configurator_iftype_fld" 
                name="configurator_iftype_{{ dev }}[]">
          <option value="None">--None--</option>
          <option value="Access">Access</option>
          <option value="Trunk">Trunk</option>
        </select>
        <button id="GenericBlueSmallButton" class="add_form_field{{ dev }}">➕</button>
        <br>
        </div>
        </td>
    </tr>
    {% endfor %}
    </table>
    <input id="Generic140pxBlueButton" 
    type="submit" 
    name="ifaces_choise" 
    value="Поехали">
    </form>
    <br>
    {% if rawdata %}
    <details><summary><b>Давайте заглянем под капот!</b></summary>
    {% for data in rawdata %}
    <h3>{{ data|safe }}</h3>
    <br><hr><br><br>
    {% endfor %}
    </details>
    {% endif %}
</div>
{% endblock %}