{% extends "menu.html" %}
{% block title %}Инвентарь{% endblock %}
{% block content %}

<script type="text/javascript">

function init()
{
    var sorter1 = tsorter.create('tblMany', null, {
        'image-number': function(row){  
            console.log( this );
            return parseFloat( this.getCell(row).childNodes[1].nodeValue, 10 );
        }
    });
}
window.onload = init;
</script>
<form action="inventory_out" method="POST">
    <input id="search_fld" type="text" name="text" placeholder="name / ip / serial">
    <input id="search_btn" type="submit" name="inventory_out" value="Send">
</form>
<br>

<h3>Suspended devices:</h3><br>
<table id="tblMany" class="sortable">
<thead>
  <tr>
  <th>Serial</th>
  <th>Type</th>
  <th>Vendor</th>
  <th>Model</th>
  <!--<th>Hardware</th>-->
  <th>DownDate</th>
  </tr>
</thead>
<tbody>
  {% for row in suspended_arr %}
  <tr>
  <td>{{ row[0]|safe }}</td>
  <td>{{ row[1] }}</td>
  <td>{{ row[2] }}</td>
  <td>{{ row[3] }}</td>
  <!--<td>{{ row[4] }}</td>-->
  <td>{{ row[5] }}</td>
</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}