{% extends "menu.html" %}
{% block title %}Инвентарь{% endblock %}
{% block content %}

<script type="text/javascript">

function init()
{
    var sorter1 = tsorter.create('tblMany', null, {
        'image-number': function(row){  
            console.log( this );
            return parseFloat( this.getCell(row).childNodes[1].nodeValue, 10 );
        }
    });
}
window.onload = init;
</script>
<form action="inventory_out" method="POST">
    <input id="search_fld" type="text" name="text" placeholder="name / ip / serial">
    <input id="search_btn" type="submit" name="inventory_out" value="Send">
</form>
<br>

<h3>{{ vars_all[0][1] }} | {{ vars_all[0][2] }} | {{ vars_all[0][3] }}</h3><br>
<table id="tblMany" class="sortable">
<thead>
  <tr>
  <th>Serial</th>
  <th>Hardware</th>
  <th>DownDate</th>
  <th>State</th>
  <th>Firmware</th>
  <th>MAC</th>
  <th>IP</th>
  <th>Name</th>
  <th>Hostname</th>
  <th>Location</th>
  <!--<th>Change Date</th>-->
  </tr>
</thead>
<tbody>
  {% for row in vars_all %}
  <tr>
  <td>{{ row[0]|safe }}</td>
  <td>{{ row[4] }}</td>
  <td>{{ row[5] }}</td>
  <td>{{ row[6]|safe }}</td>
  <td>{{ row[8] }}</td>
  <td>{{ row[9] }}</td>
  <td>{{ row[10] }}</td>
  <td>{{ row[11] }}</td>
  <td>{{ row[12] }}</td>
  <td>{{ row[13] }}</td>
  <!--<td>{{ row[18] }}</td>-->
</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}