<!DOCTYPE HTML>
<html lang="en-US">
   <head>
      <meta charset="UTF-8">
      <script type="text/javascript">
          top.location.href = "https://monitor.spb.avantel.ru/zabbix/zabbix.php?action=map.view&sysmapid={{ map_id }}"
      </script>
      <title>Page Redirection</title>
  </head>
  <body>
      <!-- Note: don't tell people to `click` the link, just tell them that it is a link. -->
      If you are not redirected automatically, follow this <a href="https://monitor.spb.avantel.ru/zabbix/zabbix.php?action=map.view&sysmapid={{ map_id }}" target="_parent">GO to the map</a>.
  </body>
</html>